*{
	padding:0;
    margin: 0;
	box-sizing: border-box;
}
:root{
--main-bg: #FAAFBE;
--secondary-bg: #F660AB; 
}
.container{
    width:100%;
    height: auto;
    font-family: 'Alice', serif;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: var(--main-bg);
    overflow: hidden;
}

.banner{
    width:100%;
    height: 900px;
    background-image: url(cincin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.nav{
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.753);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.253);
    border-radius: 30px;
    margin-top: 20px;
    position:fixed;
    left: 800px;
    display: flex;
    z-index: 3;
}

.menu{
    width:auto;
    height: 50px;
    border-radius:30px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

}
.menu a{
    text-decoration: none;
    font-size: 30px;
    color:#333;
    font-weight: bolder;
    display:flex;
    margin-right: 40PX;
    padding-left: 40px;
    justify-content:space-between;
    align-items: center;
    
}
.menu a:hover{
    color: var(--secondary-bg);
    inline-size: auto;
}
#countdown{
    font-family: 'Halimun', sans-serif;
    width:100%;
    position:absolute;
    top:270px;
    left: 20px;
    font-size: 50px;
    text-align: center;
}

.text{
    width:100%;
    position: absolute;
    top:400px;
    left: 20px;
    font-size: 30px;
    text-align: center;
}

.text h1{
    font-family: 'Halimun', sans-serif;                                             
    color:var(--main-bg);
    text-shadow: 0 3px 10px rgba(0,0,0,.5);
}

.text .date{                                           
    color:#fff;
    background-color: var(--main-bg);
    padding: 5px;
    border-radius: 40px 0 40px 0;
    transition-duration: 0.5s;
}

.text .date:hover{
    background-color: #fff;
    color:var(--main-bg);
}

.section{
    width:100%;
    height: auto;
    background-color:var(--main-bg);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.us{
    width:80%;
    height: 500px;
    background: url(poto.jpg);
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.425);
}

.us img{
    width: 280px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.section h2{
    width:100%;
    text-align: center;
    color:var(--secondary-bg);
    font-size: 60px;
}

.usa {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.usa span{
    width: 215px;
    position: relative;
    left: 35px;
    color:#fff;
    font-size: 40px;
    padding: 12px;
    background-color: var(--secondary-bg);
    border-radius: 12px;
    
}

.us1 span:hover{
    color: var(--secondary-bg);
    background-color: var(--main-bg);
}

.history{
    width : 80%;
    height: auto;
    background: url(poto.jpg);
    background-color: var(--main-bg);
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.425);
}

.history img{
    width:60%;
    height: 300px;
    display: inline;
    border:2px solid var(--main-bg);
    border-radius: 8px;
    margin-bottom: 10px;
}

.history p{
    font-size: 35px;
    line-height: 30px;
    color:#333;
}

.party{
    width:80%;
    height: auto;
    background: url(poto.jpg);
    background-color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.425);
}

.party img{
    width:50%;
    height: 300px;
    display: inline;
    border:2px solid var(--main-bg);
    border-radius: 8px;
    margin-bottom: 10px;
}

.party p{
    font-size: 35px;
    line-height: 30px;
    color:#333;
}
.lokasi{
    width:80%;
    height: auto;
    background: url(poto.jpg);
    background-color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.425);
    
}
.lokasi iframe{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.425);
}

h2 {
    margin-bottom: -5px;
}
p {
    font-size: 1.5em;
    color: #c9c9c9;
}
table {
    background:url(poto.jpg);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.425);
}
tr {
    height: 35px;
}
textarea {
    width: 348px;
    height: 100px;
    padding: 10px;
    font-family: Arial;
    font-size: 12px;
}
input.nama {
    background: url(images/user.png)no-repeat 7px 9px;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    height: 25px;
    padding: 8px;
    padding-left: 37px;
    margin-bottom: 8px;
    transition: 1s all;
    -moz-transition: 1s all;
    -o-transition: 1s all;
}
input.alamat {
    background: url(images/maps.png)no-repeat 7px 9px;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    height: 25px;
    padding: 8px;
    padding-left: 37px;
    margin-bottom: 8px;
    transition: 1s all;
    -moz-transition: 1s all;
    -o-transition: 1s all;
}
input.email {
    background: url(images/mail.png)no-repeat 7px 9px;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    height: 25px;
    padding: 8px;
    padding-left: 37px;
    margin-bottom: 8px;
    transition: 1s all;
    -moz-transition: 1s all;
    -o-transition: 1s all;
}
input.kota {
    background: url(images/kota.png)no-repeat 7px 9px;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    height: 25px;
    padding: 8px;
    padding-left: 37px;
    margin-bottom: 8px;
    transition: 1s all;
    -moz-transition: 1s all;
    -o-transition: 1s all;
}
input:focus {
    border: 1px solid #26C281;
    transition: 1s all;
    -moz-transition: 1s all;
    -o-transition: 1s all;
}
.button {
    background: #df4231;
    color: #ffffff;
    width: 370px;
    margin-top: 10px;
    height: 40px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    transition: 1s all;
    -moz-transition: 1s all;
    -o-transition: 1s all;
}
.button:hover {
    background: #19B5FE;   
    transition: 1s all;
    -moz-transition: 1s all;
    -o-transition: 1s all;
}
.button-gambar {
    height: 35px;
}
.contact {
	width: 80%;
	height: auto;
	background-color: #fff;
	border-radius: 20px;
	display: inline-block;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px;
	box-shadow: 0 3px 10px 0 rgba(100, 100, 100, 0.3);
    text-align: center;
    margin-top: 20px;
}
.contact h1{
    float:center;
    order: -1;
}

.contact-logo {
    float: center;
    display:block;
}
.contact-logo img{
    width: 130px;
    height: auto;
}
.bouquet {
    width: 400px;
    position: absolute;
    left: 0;
    top: 1199px;
    animation: animasi 2s infinite alternate;
}
.bouquet2 {
    width: 500px;
    position: absolute;
    right: 0;
    left: 1150px;
    top: 1170px;
    animation: animasi 2s infinite alternate;
  }
footer{
    width:100%;
    height: auto;
    color:#ddd;
    font-size: 30px;
    font-family: monospace;
    background-color:#555;
    margin-top: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer i{
    color:skyblue;
    font-size: 30px;
    margin-left: 20px;
}
  
  .reveal {
    position: relative;
    opacity: 0;
  }
  
  .reveal.active {
    opacity: 1;
  }
  .active.usa {
    animation: usa 1s ease-in;
  }
  .active.history {
    animation: history 1s ease-in;
  }
  .active.party {
    animation: party 1s ease-in;
  }
  .active.lokasi {
    animation: lokasi 1s ease-in;
  }
  @keyframes usa {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(15px);
      opacity: 1;
    }
}
 
  @keyframes history {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes party {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes lokasi {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
@keyframes animasi {
    to {
      transform: translateY(50px);
    }
}
